@{
    ViewData["Title"] = "Cadastro";
}

<section class="caixa">
    <div class="cadastro">


        <div class="imgcontainer">

            <img src="img/img-cadastro/Instadev.svg" alt="Avatar" class="avatar">
            <p>
                Cadastre-se para ver fotos e vídeos dos seus amigos.
            </p>

        </div>

        <div class="container-cadastro">
            <form class="input-content" method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
                <input type="text" placeholder="E-mail" name="Email" required>

                <input type="text" placeholder="Nome completo" name="Nome" required>

                <input type="text" placeholder="Data de nascimento" name="DataNascimento" onfocus="(this.type='date')" required>

                <input type="text" placeholder="Nome de usuário" name="Username" required>

                <input type="password" placeholder="Senha" name="Senha" required>

                <button class="botao-cadastro" type="submit">Cadastre-se</button>
                <p>Ao se cadastrar, você concorda com nossos Termos, Política de Dados e Política de Cookies. </p>
            </form>
        </div>

    </div>
    <div class="conect">
        <p>
            Tem uma conta? <a asp-area="" asp-controller="Login" asp-action="Index" title="Conecte-se"> Conecte-se</a>
        </p>

    </div>
    <div class="app">

        <p>Obtenha o aplicativo. </p>
        <div class="play">

            <img src="img/img-cadastro/app_store 1.svg" alt="Avatar" class="avatar">
            <img src="img/img-cadastro/google_play 1.svg" alt="Avatar" class="avatar">

        </div>

    </div>
</section>